#image img {
	width: 4in;
	height: auto;
}

.content {

		padding-left: 12%;
		padding-right: 12%;
		border-radius: 4px;
}

page {
	margin: 20mm
}

page:
	first {
		margin-top: 0.79%;
		margin-bottom: 0.2%;
	}
	
	p {
		margin-bottom: 0.08%;
		line-height: 107%;
	}

	p.light {
		font-family: "calibri";
		font-size: 12pt;
		font-variant: small-caps;
	}

	p.normal {
		font-family: "calibri light";
		font-size: 12pt;
		text-align: center;

	}

	h1 {
		font-family: "calibri light", serif;
		font-size: 18pt;
		font-weight: normal;
		margin-bottom: 0%;
		line-height: 107%;
		text-align: center;
	}

	h2 {
		font-family: "calibri light", serif;
		font-size: 14pt;
		font-weight: normal;
		margin-top: 0%;
		margin-bottom: 0.11%;
		color: #252525;
		line-height: 107%;
		text-align: center;
	}

	h3 {
		font-family: "calibri light", serif;
		font-weight: normal;
		margin-top: 0%;
		margin-bottom: 0.11%;
		color: #252525;
		line-height: 107%;
		text-align: center;
	}
